{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Nos Produits phares
	</h1>
	<div class="row">
		{% for product in products %}
			<div class="col-4">
				<div class="card border-primary">
					<div class="card-header">{{ product.price / 100 }}
						€</div>
					<img class="img-fluid" src=" https://picsum.photos/150/120" alt=" ">
					<div class="card-body">
						<h4 class="card-title">{{product.name }}</h4>
						<p class="card-text">{{product.name }}</p>
						<a href="#" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-primary btn-sm">Ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, animi veniam dolore commodi saepe voluptatum?</p>
	<div class="row">
		{% include "home/shared/_assurance.html.twig" with {
			'color' : 'primary',
			'icon' : 'fas fa-truck',
			'texte' : 'Livraison rapide'
		} %}
		{% include "home/shared/_assurance.html.twig" with {
			'color' : 'success',
			'icon' : 'fas fa-check',
			'texte' : 'Retours gratuit'
		} %}
		{% include "home/shared/_assurance.html.twig" with {
			'color' : 'warning',
			'icon' : 'fas fa-lock',
			'texte' : 'Paiement 100% sécurisé'
		} %}
	</div>

{% endblock %}
